html{
  display: flex;
  flex-flow: row nowrap;  
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
    }

body {
  background: #222;
  /* background-image: url($HOME/wallpapers/yosemite-lowpoly.jpg); */
  /* background-position: center; */
  /* background-size: cover; */
  color: #ffd5cd;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

form {
  margin: 0px;
  padding: 0px;
}

li {
  font-size: 16px;
  list-style-type: none;
  padding: 5px;
  font-family: 'Raleway', sans-serif;
  /* font-weight: bold; */
}

a:link {
  text-decoration: none;
  color: #ffd5cd;
}
